.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.card {
    margin: 10px;
    padding: 10px;
    flex-basis: 17%;
    border: 1px solid rgba(4,57,94, 0.1);
    font-size: 11px;
}

.card:hover {
    background-color: rgba(4,57,94, 0.1);
}

.card:focus {
    outline: 0;
    background-color: rgba(4,57,94, 0.4);
}

.cardRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.propLine {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.propKey {
    font-family: Avenir Next;
}

.propValue {
    font-family: 'Retina', Arial, Helvetica, sans-serif;
    font-weight: 800;
}

